body{
    background: url("../img/azul.jpg");
	background-size:100%;
	background-size: cover;
    background-repeat:no-repeat;
  background-attachment: fixed;
  font-size:18px;
}
nav{
    max-width: 1000px;
    width: 100%;
	height: 60px;
	padding-bottom: 50px;
	margin-top: 10px;
  margin-left: 10em;
    background-color: rgba(0, 0, 0, 0.356);
   padding-top: 2px;
   color: white;
   text-align: center;
  margin-left: center;
  border-radius: 2em;
}
footer{
  width: 30%;
  height: 100px;
  border-radius: 10em;
  color: white;
  background-color: rgba(117, 114, 114, 0.377);
  margin-bottom: 2em;
  margin-left: 2em;
}
footer h1{
  font-size: 30px;
  text-align:center;
  margin-bottom: 10px;

}
ul{
	list-style: none;
margin-left: 30px;
  font-size:30px;
  padding-top: 2px;
}
a{
	text-decoration: none;
	color:white;

}
 a:hover{
	color: #94B6EA;
}
*{
margin: 0;
padding: 0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-box-sizing:border-box;
}
.contenedor{
  width: 50%;
  margin: 150px;
  margin-left: 25em;
  background-color: rgba(255, 255, 255, 0.3);
}

.formulario .conedor-inputs{
  padding: 20px;
  background: #fff;
  border-radius: 6px 6px 0 0;
}
.formulario input[type="text"],
.formulario input[type="email"]{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}
.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus{
   border-bottom: 2px solid #246eb9;
}

.formulario input[type="radio"]{
   display: none;
}

.formulario .sexo {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formulario .sexo .hombre{
  border-radius: 3px 0 0 3px;
}
.formulario .sexo .mujer{
   border-radius: 0 3px 3px 0;
}

.formulario .label-radio{
  background: rgba(249,170, 73, 0.4);
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 49.5%;
}

.formulario input[type="radio"]:checked + .label-radio{
  background: #f9a03f;
}

.formulario .terminos {
  text-align: center;
  color: #424242;
}
.formulario .terminos laber{
   margin-left: 10px;
}

.formulario .error {
  display: none;
  border-top: 20px;
  border-radius: 3px;
  background: #ce1818;
  color: #fff;
  padding: 15px 10px;
  padding-left: 40px;
}
.formulario .btn {
   width: 100%;
   text-align: center;
   background: #246eb9;
   color: #fff;
   border: none;
   display: block;
   padding: 15px 10px;
   cursor: pointer;
   border-radius: 0 0 6px 6px;
   font-family: Arial;
   font-size: 18px;
}
.formulario .btn:hover{
  background: #4357ad;
  color: #fff;
}
