body{
    background: url("../img/azul.jpg");
	background-size:100%;
	background-size: cover;
    background-repeat:no-repeat; 
  background-attachment: fixed;
}
.contenedor{
    width: 400px;
    padding: 20px;

}
.caja{
    padding: 20px 10px;
    text-align: center;
    margin: 10px 0;
    background-color: rgba(141, 137, 131, 0.452);
    font-size: 24px;
    color: black;
}